extends ../_partials/main-layout

block title
    title slide_12

block content
    .swipe.swipeLeft.swipeRight
        .title 
        .star.star-1
        .star.star-2 
        .star.star-3 
        .star.star-4 
        .star.star-5 
        .side.image 
        .side.text 
        .side.point-1 
        .side.point-2 
        .side.point-3 