extends ../_partials/main-layout

block title
    title slide_9

block content
    .swipe.swipeLeft.swipeRight
        .title 
        .subtitle 
        .plate 
            .graph__title
            .graph__bottom 
            .column.graph__column-1
            .column.graph__column-2
            .column.graph__column-3
            .column.graph__column-4
            .column.graph__column-5
            .number.graph__num-1
            .number.graph__num-2
            .number.graph__num-3
            .number.graph__num-4
            .number.graph__num-5
        .shell 
        .star