.slide {
    background-image: url('./image/bg-1.png');
}

.title,
.subtitle, 
.plate,
.graph__title,
.graph__bottom, 
.column,
.number,
.shell,
.star {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.title {
    background-image: url(./image/title.png);
    width: 840px;
    height: 135px;
    left: 49px;
    top: 63px;
}

.subtitle {
    background-image: url(./image/subtitle.png);
    width: 1003px;
    height: 24px;
    left: 52px;
    top: 211px;
}

.plate {
    background-image: url(./image/plate.png);
    width: 1180px;
    height: 404px;
    bottom: 93px;
    left: 50px;
}

.graph__title {
    background-image: url(./image/graph__title.png);
    width: 672px;
    height: 52px;
    left: 2px;
    top: 33px;
}

.graph__bottom {
    background-image: url(./image/graph__bottom.png);
    width: 1068px;
    height: 35px;
    bottom: 29px;
    left: 26px;
}

.column {
    width: 54px;
    bottom: 64px;
    transform-origin: bottom;
}

.graph__column-1 {
    background-image: url(./image/graph__column-1.png);
    height: 177px;
    left: 63px;
}

.graph__column-2 {
    background-image: url(./image/graph__column-2.png);
    height: 105px;
    left: 287px;
}

.graph__column-3 {
    background-image: url(./image/graph__column-3.png);
    height: 140px;
    left: 533px;
}

.graph__column-4 {
    background-image: url(./image/graph__column-4.png);
    height: 55px;
    right: 347px;
}

.graph__column-5 {
    background-image: url(./image/graph__column-5.png);
    height: 112px;
    right: 123px;
}

.number {
    height: 18px;
}

.graph__num-1 {
    background-image: url(./image/graph__num-1.png);
    width: 69px;
    height: 26px;
    top: 127px;
    left: 57px;
}

.graph__num-2 {
    background-image: url(./image/graph__num-2.png);
    width: 48px;
    top: 209px;
    left: 291px;
}

.graph__num-3 {
    background-image: url(./image/graph__num-3.png);
    width: 49px;
    top: 173px;
    left: 537px;
}

.graph__num-4 {
    background-image: url(./image/graph__num-4.png);
    width: 47px;
    top: 259px;
    right: 350px;
}

.graph__num-5 {
    background-image: url(./image/graph__num-5.png);
    width: 50px;
    top: 200px;
    right: 125px;
}

.shell {
    background-image: url(./image/shell.png);
    width: 110px;
    height: 87px;
    bottom: 147px;
    left: 157px;
}

.star {
    background-image: url(./image/star.png);
    width: 65px;
    height: 66px;
    top: 242px;
    right: 57px;
}