.top-panel
    .logo
    .side-menu__open-btn
.side-menu 
    .side-menu__container
        .side-menu__top-panel
            .logo
            .side-menu__close-btn
        .side-menu__item#slides Слайды 
        .side-menu__item#bookmarks Закладки
        .side-menu__item#materials Материалы
        .side-menu__item#evaluation Оценить презентацию
        .side-menu__exit-pres 
            span Выход 
            span из презентации

    .side-menu__content-container
        .side-menu__content-title#menu_title
        .side-menu__content-box
            .side-menu__content#content
    .side-menu__scroll-container
        #scroll