.slide {
    background-image: url('./image/bg-1.png');
}

.header__links {
    display: none;
}

.title, 
.subtitle, 
.product {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.title {
    background-image: url(./image/title.png);
    width: 672px;
    height: 78px;
    top: 50px;
    left: 50px;
}

.subtitle {
    background-image: url(./image/subtitle.png);
    width: 636px;
    height: 82px;
    top: 151px;
    left: 0px;
} 

.product {
    background-image: url(./image/product.png);
    width: 871px;
    height: 768px;
    top: 0px;
    left: 323px;
}