.slide {
    background-image: url('./image/bg-1.png');
}

.header__links {
    display: none;
}

.title,
.video__play {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    background-image: url(./image/title.png);
    width: 431px;
    height: 142px;
    top: 310px;
    left: 50px;
}

.video__play {
    height: 551px;
    top: 109px;

    &[data-play="video-1"] {
        background-image: url(./image/preview-1.png);
        width: 314px;
        right: 102px;

    }

    &[data-play="video-2"] {
        background-image: url(./image/preview-2.png);
        width: 312px;
        right: 438px;
        
    }
}

video {
    position: absolute;
    height: 551px;
    top: 109px;
    border-radius: 19px;

    &#video-2 {
        width: 312px;
        right: 438px;
    }

    &#video-1 {
        width: 314px;
        right: 102px;
    }
}