extends ../_partials/main-layout

block title
    title slide_6

block content
    .swipe.swipeLeft.swipeRight
        .title 
        .subtitle 
        .octo
        .bottle-2
        .bottle-1
        .age.age-1
        .age.age-2 
        .advantages-box
            .circle.circle-dark
            .circle.circle-light
            .advantages
        .seahorse
        .corall.corall-1
        .corall.corall-2 
        .popup__open-btn(data-popup-id='pop-0')
        .popup#pop-0 
            .popup__close-btn
        .popup__open-btn(data-popup-id='pop-1')
        .popup#pop-1 
            .popup__close-btn
        .popup__open-btn(data-popup-id='pop-2')
        .popup#pop-2 
            .popup__close-btn
        .popup__open-btn(data-popup-id='pop-3')
        .popup#pop-3 
            .popup__close-btn