.slide {
    background-image: url('./image/bg-1.png');
}

.header__links {
    display: none;
}

.header__links {
    display: none;
}

.title, 
.subtitle,
.advantages-box, 
.circle,
.advantages,
.seahorse,
.bottle-1,
.bottle-2,
.age, 
.octo,
.corall,
.popup,
.popup__open-btn,
.popup__close-btn {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.title {
    background-image: url(./image/title.png);
    width: 775px;
    height: 134px;
    top: 95px;
    left: 50px;
}

.subtitle {
    background-image: url(./image/subtitle.png);
    width: 582px;
    height: 43px;
    top: 248px;
    left: 0px;
}

.advantages-box {
    width: 326px;
    height: 269px;
    bottom: 0px;
    left: 0px;
}

.circle-dark {
    background-image: url(./image/circle-dark.png);
    width: 326px;
    height: 269px;
    bottom: 0px;
    left: 0px;
}

.circle-light {
    background-image: url(./image/circle-light.png);
    width: 296px;
    height: 249px;
    bottom: 0px;
    left: 9px;
}

.advantages {
    background-image: url(./image/advantages.png);
    width: 213px;
    height: 22px;
    bottom: 127px;
    left: 53px;
}

.seahorse {
    background-image: url(./image/seahorse.png);
    width: 129px;
    height: 129px;
    bottom: 180px;
    left: -192px;
}

.bottle-1 {
    background-image: url(./image/bottle-1.png);
    width: 472px;
    height: 680px;
    top: 41px;
    right: 145px;
}

.bottle-2 {
    background-image: url(./image/bottle-2.png);
    width: 446px;
    height: 655px;
    top: 52px;
    right: 14px;
}

.age {
    width: 95px;
    height: 95px;
    top: 231px;
}

.age-1 {
    background-image: url(./image/age-1.png);
    right: 438px;
}

.age-2 {
    background-image: url(./image/age-2.png);
    right: 87px;
}

.octo {
    background-image: url(./image/octo.png);
    width: 268px;
    height: 418px;
    right: 429px;
    bottom: 48px;
}

.popup__open-btn {
    background-image: url(./image/pop-open-btn.svg);
    width: 45px;
    height: 45px;
}

.popup__close-btn {
    width: 45px;
    height: 45px;
}

.circle {
    transform-origin: bottom center;
}

.corall {
    transform-origin: bottom left;
    transform: scale(0);
}

.corall-1 {
    background-image: url(./image/corall-1.png);
    width: 158px;
    height: 206px;
    left: 21px;
    bottom: 123px;
}

.corall-2 {
    background-image: url(./image/corall-2.png);
    width: 543px;
    height: 278px;
    left: 0;
    bottom: 0;
} 

.popup__open-btn {
    transform: scale(0);
}

[data-popup-id='pop-0'] {
    left: 37px;
    bottom: 303px;
}

[data-popup-id='pop-1']  {
    left: 167px;
    bottom: 250px;
}

[data-popup-id='pop-2'] {
    left: 383px;
    bottom: 237px;
}

[data-popup-id='pop-3'] {
    left: 484px;
    bottom: 118px;
}

#pop-0 {
    background-image: url(./image/pop-0.png);
    width: 354px;
    height: 105px;
    left: 37px;
    bottom: 303px;

    & > .popup__close-btn {
        left: 0;
        bottom: 0;
    }
}

#pop-1 {
    background-image: url(./image/pop-1.png);
    width: 297px;
    height: 128px;
    left: 167px;
    bottom: 250px;

    & > .popup__close-btn {
        left: 0;
        bottom: 0;
    }
}

#pop-2 {
    background-image: url(./image/pop-2.png);
    width: 261px;
    height: 127px;
    left: 349px;
    bottom: 237px;

    & > .popup__close-btn {
        left: 34px;
        bottom: 0;
    }
}

#pop-3 {
    background-image: url(./image/pop-3.png);
    width: 247px;
    height: 116px;
    left: 450px;
    bottom: 118px;

    & > .popup__close-btn {
        left: 34px;
        bottom: 0;
    }
}