extends ../_partials/main-layout

block title
    title slide_7

block content
    .swipe.swipeLeft.swipeRight
        .title 
        .subtitle 
        .star.star-1
        .star.star-2 
        .bottle
        .star.star-3 
        .star.star-4
        .age