extends ../_partials/main-layout

block title
    title slide_3

block content
    .swipe.swipeLeft.swipeRight
        .title 
        .subtitle 
        .col.col1.point.col1__point-1 
        .col.col1.point.col1__point-2 
        .col.col1.point.col1__point-3 
        .col.col2.point.col2__point-1 
        .col.col2.point.col2__point-2 
        .col.col2.point.col2__point-3 
        .col.col2.point.col2__point-4 
        .col.col2.point.col2__point-5 
        .corall.corall-1
        .corall.corall-2 
        .text.text-1
        .text.text-2
        .text.text-3