.slide {
    background-image: url('./image/bg-1.png');
}

.title, 
.subtitle, 
.col,
.point,
.corall,
.text {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.title {
    background-image: url(./image/title.png);
    width: 731px;
    height: 95px;
    top: 52px;
    left: 46px;
}

.subtitle {
    background-image: url(./image/subtitle.png);
    width: 728px;
    height: 94px;
    top: 161px;
    left: 36px;
} 

.col1__point-1 {
    background-image: url(./image/col1__point-1.png);
    width: 292px;
    height: 96px;
    left: 50px;
    bottom: 402px;
} 

.col1__point-2 {
    background-image: url(./image/col1__point-2.png);
    width: 365px;
    height: 144px;
    left: 27px;
    bottom: 236px;
} 

.col1__point-3 {
    background-image: url(./image/col1__point-3.png);
    width: 377px;
    height: 144px;
    left: 27px;
    bottom: 110px;
}

.col2__point-1 {
    background-image: url(./image/col2__point-1.png);
    width: 269px;
    height: 437px;
    left: 436px;
    bottom: 77px;
} 

.col2__point-2 {
    background-image: url(./image/col2__point-2.png);
    width: 210px;
    height: 33px;
    left: 454px;
    bottom: 361px;
}

.col2__point-3 {
    background-image: url(./image/col2__point-3.png);
    width: 208px;
    height: 51px;
    left: 455px;
    bottom: 295px;
}

.col2__point-4 {
    background-image: url(./image/col2__point-4.png);
    width: 255px;
    height: 60px;
    left: 454px;
    bottom: 225px;
} 

.col2__point-5 {
    background-image: url(./image/col2__point-5.png);
    width: 268px;
    height: 85px;
    left: 454px;
    bottom: 126px;
}

.corall {
    transform-origin: bottom right;
}

.corall-1 {
    background-image: url(./image/corall-1.png);
    width: 482px;
    height: 526px;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.corall-2 {
    background-image: url(./image/corall-2.png);
    width: 87px;
    height: 102px;
    right: 402px;
    bottom: 268px;
} 

.text {
    z-index: 2;
}

.text-1 {
    background-image: url(./image/text-1.png);
    width: 235px;
    height: 50px;
    right: 130px;
    bottom: 396px;
}

.text-2 {
    background-image: url(./image/text-2.png);
    width: 290px;
    height: 151px;
    right: 76px;
    bottom: 211px;
}

.text-3 {
    background-image: url(./image/text-3.png);
    width: 288px;
    height: 63px;
    right: 78px;
    bottom: 129px;
}