extends ../_partials/main-layout

block title
    title slide_4

block content
    .swipe.swipeLeft.swipeRight
        .title 
        .col1.c1__point1 
        .col1.c1__point2 
        .col1.c1__point3 
        .col1.c1__point4 
        .col2.c2__point1 
        .col2.c2__point2 
        .col2.c2__point3 
        .col3.c3__point1 
        .col3.c3__point2 