.slide {
    background-image: url('./image/bg-1.png');
}

.title, 
.col1,
.col2,
.col3 {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.title {
    background-image: url(./image/title.png);
    width: 783px;
    height: 95px;
    top: 52px;
    left: 46px;
}

.c1__point1 {
    background-image: url(./image/c1__point1.png);
    width: 170px;
    height: 170px;
    left: 23px;
    bottom: 433px;
} 

.c1__point2 {
    background-image: url(./image/c1__point2.png);
    width: 470px;
    height: 41px;
    left: 55px;
    bottom: 392px;
} 

.c1__point3 {
    background-image: url(./image/c1__point3.png);
    width: 451px;
    height: 98px;
    left: 50px;
    bottom: 278px;
}

.c1__point4 {
    background-image: url(./image/c1__point4.png);
    width: 452px;
    height: 129px;
    left: 54px;
    bottom: 121px;
}

.c2__point1 {
    background-image: url(./image/c2__point1.png);
    width: 287px;
    height: 502px;
    right: 412px;
    bottom: 77px;
}

.c2__point2 {
    background-image: url(./image/c2__point2.png);
    width: 297px;
    height: 118px;
    right: 383px;
    bottom: 368px;
}

.c2__point3 {
    background-image: url(./image/c2__point3.png);
    width: 250px;
    height: 121px;
    right: 431px;
    bottom: 186px;
}

.c3__point1 {
    background-image: url(./image/c3__point1.png);
    width: 329px;
    height: 129px;
    right: 0px;
    bottom: 456px;
} 

.c3__point2 {
    background-image: url(./image/c3__point2.png);
    width: 329px;
    height: 128px;
    right: 0px;
    bottom: 305px;
} 