extends ../_partials/main-layout

block title
    title slide_10

block content
    .swipe.swipeLeft.swipeRight
        .title 
        .image.image-1 
        .image.image-2 
        .plate.plate-1 
        .plate.plate-2 
        .plate.plate-3 
        .plate.plate-4 
        .star 
        .fish