.slide {
    background-image: url('./image/bg-1.png');
}

.header__links {
    display: none;
}

.header__links {
    display: none;
}

.title,
.image,
.plate,
.star,
.fish {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.title {
    background-image: url(./image/title.png);
    width: 754px;
    height: 147px;
    top: 50px;
    left: 51px;
}

.image-1 {
    background-image: url(./image/image-1.png);
    width: 467px;
    height: 250px;
    bottom: 90px;
    left: 50px;
}

.image-2 {
    background-image: url(./image/image-2.png);
    width: 470px;
    height: 251px;
    top: 188px;
    right: 50px;
} 

.plate {
    width: 277px;
    height: 175px;
}

.plate-1 {
    background-image: url(./image/plate-1.png);
    top: 226px;
    left: 50px;
}

.plate-2 {
    background-image: url(./image/plate-2.png);
    top: 226px;
    left: 405px;
}

.plate-3 {
    background-image: url(./image/plate-3.png);
    bottom: 127px;
    right: 407px;
}

.plate-4 {
    background-image: url(./image/plate-4.png);
    right: 50px;
    bottom: 127px;
}

.star {
    background-image: url(./image/star.png);
    width: 65px;
    height: 66px;
    top: 200px;
    right: 564px;
}

.fish {
    background-image: url(./image/fish.png);
    width: 153px;
    height: 153px;
    right: -38px;
    bottom: 62px;
}