extends ../_partials/main-layout

block title
    title slide_1

block content
    .swipe.swipeLeft.swipeRight
        .title 
        .subtitle
        .plate.plate-1
        .plate.plate-2 
        .plate.plate-3 
        .symptom
        .plate-4
        .kid
        .corall
        .text 
