.slide {
    background-image: url('./image/bg-1.png');
}

.header__links {
    display: none;
}

.title,
.subtitle,
.plate,
.symptom,
.plate-4,
.kid,
.corall, 
.text {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.title {
    background-image: url(./image/title.png);
    width: 980px;
    height: 96px;
    top: 52px;
    left: 50px;
}

.subtitle {
    background-image: url(./image/subtitle.png);
    width: 876px;
    height: 53px;
    top: 188px;
    left: 50px;
}

.plate {
    width: 232px;
    height: 142px;
    bottom: 358px;
}

.plate-1 {
    background-image: url(./image/plate-1.png);
    left: 39px;
}

.plate-2 {
    background-image: url(./image/plate-2.png);
    left: 273px;
} 

.plate-3 {
    background-image: url(./image/plate-3.png);
    left: 507px;
}

.symptom {
    background-image: url(./image/symptom.png);
    width: 544px;
    height: 71px;
    bottom: 260px;
    left: 117px;
}

.plate-4 {
    background-image: url(./image/plate-4.png);
    width: 582px;
    height: 135px;
    bottom: 99px;
    left: 0px;
}

.kid {
    background-image: url(./image/kid.png);
    width: 678px;
    height: 452px;
    right: 180px;
    bottom: 48px;
    z-index: 1;
}

.corall {
    background-image: url(./image/corall.png);
    width: 687px;
    height: 768px;
    right: 0;
    bottom: 0;
    transform-origin: bottom right;
}

.text {
    background-image: url(./image/text.png);
    width: 222px;
    height: 219px;
    right: 58px;
    bottom: 152px;
}