extends ../_partials/main-layout

block title
    title slide_11

block content
    .swipe.swipeLeft.swipeRight
        .title 
        .star.star-1 
        .star.star-2
        .star.star-3
        .star.star-4
        .spot 
            .side-text
        .product
        .age 
        .shell 
        .remark

