.slide {
    background-image: url('./image/bg-1.png');
}

.header__links {
    display: none;
}

.header__links {
    display: none;
}

.title,
.star,
.spot,
.side-text,
.product,
.age,
.shell, 
.remark {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.title {
    background-image: url(./image/title.png);
    width: 829px;
    height: 147px;
    top: 50px;
    left: 51px;
}

.star-1 {
    background-image: url(./image/star-1.png);
    width: 272px;
    height: 272px;
    left: 40px;
    bottom: 291px;
}

.star-2 {
    background-image: url(./image/star-2.png);
    width: 357px;
    height: 357px;
    left: 114px;
    bottom: 37px;
}

.star-3 {
    background-image: url(./image/star-3.png);
    width: 388px;
    height: 388px;
    left: 254px;
    bottom: 223px;
}

.star-4 {
    background-image: url(./image/star-4.png);
    width: 353px;
    height: 353px;
    left: 407px;
    bottom: 27px;
}

.spot {
    background-image: url(./image/spot.png);
    width: 648px;
    height: 768px;
    bottom: 0;
    right: 0;
    transform-origin: bottom right;
}

.side-text {
    background-image: url(./image/side-text.png);
    width: 201px;
    height: 164px;
    top: 271px;
    right: 42px;
}

.product {
    background-image: url(./image/product.png);
    width: 630px;
    height: 613px;
    right: 7px;
    bottom: 0px;
}

.age {
    background-image: url(./image/age.png);
    width: 95px;
    height: 95px;
    right: 526px;
    top: 282px;
}

.shell {
    background-image: url(./image/shell.png);
    width: 115px;
    height: 91px;
    right: 472px;
    bottom: 100px;
}

.remark {
    background-image: url(./image/remark.png);
    width: 352px;
    height: 60px;
    right: 141px;
    bottom: 89px;
}
