.slide {
    background-image: url('./image/bg-1.png');
}

.title,
.star,
.spot,
.side-text,
.product,
.age,
.shell, 
.remark {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.title {
    background-image: url(./image/title.png);
    width: 1326px;
    height: 235px;
    top: 81px;
    left: 84px;
}

.star {

}

.star-1 {
    background-image: url(./image/star-1.png);
    width: 424px;
    height: 424px;
    left: 62px;
    bottom: 455px;
}

.star-2 {
    background-image: url(./image/star-2.png);
    width: 557px;
    height: 557px;
    left: 178px;
    bottom: 58px;
}

.star-3 {
    background-image: url(./image/star-3.png);
    width: 606px;
    height: 606px;
    left: 397px;
    bottom: 349px;
}

.star-4 {
    background-image: url(./image/star-4.png);
    width: 552px;
    height: 552px;
    left: 636px;
    bottom: 43px;
}

.spot {
    background-image: url(./image/spot.png);
    width: 878px;
    height: 1175px;
    bottom: 24px;
    right: 0;
    transform-origin: bottom right;
}

.side-text {
    background-image: url(./image/side-text.png);
    width: 321px;
    height: 258px;
    top: 404px;
    right: 59px;
}

.product {
    background-image: url(./image/product.png);
    width: 983px;
    height: 957px;
    right: 12px;
    bottom: 0px;
}

.age {
    background-image: url(./image/age.png);
    width: 149px;
    height: 149px;
    right: 822px;
    top: 441px;
}

.shell {
    background-image: url(./image/shell.png);
    width: 180px;
    height: 141px;
    right: 738px;
    bottom: 160px;
}

.remark {
    background-image: url(./image/remark.png);
    width: 558px;
    height: 131px;
    right: 203px;
    bottom: 140px;
}
