* {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}
a {
    color: #000;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}
form,
.wrapper {
    width: 80vw;
    height: 50vh;
    background-color: rgba(127, 255, 212, 0.8);
    border: 3px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
input,
select {
    border: none;
    padding: 15px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
}
