extends ../_partials/main-layout

block title
    title slide_0

block content
    .swipe.swipeLeft
        .title 
        .subtitle 
        .octo
        .bottle-1 
        .bottle-3 
        .bottle-2 
        .star.star-1 
        .star.star-2