.slide {
    background-image: url('./image/bg-1.png');
}

.header__links {
    display: none;
}

.title,
.subtitle, 
.shell,
.bottle-1, 
.bottle-2,
.bottle-3, 
.octo {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.title {
    background-image: url(./image/title.png);
    width: 601px;
    height: 181px;
    top: 52px;
    left: 50px;
}

.subtitle {
    background-image: url(./image/subtitle.png);
    width: 453px;
    height: 172px;
    top: 270px;
    left: 52px;
} 

.bottle-1 {
    background-image: url(./image/bottle-1.png);
    width: 209px;
    height: 555px;
    top: 119px;
    right: 354px;
} 

.bottle-2 {
    background-image: url(./image/bottle-2.png);
    width: 186px;
    height: 555px;
    top: 119px;
    right: 226px;
} 

.bottle-3 {
    background-image: url(./image/bottle-3.png);
    width: 183px;
    height: 593px;
    top: 80px;
    right: 82px;
} 

.octo {
    background-image: url(./image/octo.png);
    width: 218px;
    height: 360px;
    top: 320px;
    right: 504px;
}

.shell {
    background-image: url(./image/shell.png);
    width: 128px;
    height: 114px;
    right: 0px;
    bottom: 61px;
}