.slide {
    background-image: url('./image/bg-1.png');
}

.title,
.subtitle, 
.star,
.shell,
.bottle-1, 
.bottle-2,
.bottle-3, 
.octo {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.title {
    background-image: url(./image/title.png);
    width: 1142px;
    height: 284px;
    top: 81px;
    left: 86px;
}

.subtitle {
    background-image: url(./image/subtitle.png);
    width: 803px;
    height: 304px;
    top: 418px;
    left: 83px;
} 

.bottle-1 {
    background-image: url(./image/bottle-1.png);
    width: 325px;
    height: 864px;
    top: 185px;
    right: 555px;
} 

.bottle-2 {
    background-image: url(./image/bottle-2.png);
    width: 290px;
    height: 863px;
    top: 185px;
    right: 356px;
} 

.bottle-3 {
    background-image: url(./image/bottle-3.png);
    width: 284px;
    height: 924px;
    top: 124px;
    right: 132px;
} 

.octo {
    background-image: url(./image/octo.png);
    width: 339px;
    height: 560px;
    top: 499px;
    right: 788px;
}

.star-1 {
    background-image: url(./image/star-1.png);
    width: 318px;
    height: 305px;
    bottom: 143px;
    left: 295px;
}

.star-2 {
    background-image: url(./image/star-2.png);
    width: 899px;
    height: 706px;
    left: -256px;
    bottom: -67px;
}

.shell {
    background-image: url(./image/shell.png);
    width: 203px;
    height: 164px;
    right: 0px;
    bottom: 114px;
}