.slide {
    background-image: url('./image/bg-1.png');
}

.header__links {
    display: none;
}

.title,
.text-1,
.image,
.text-2,
.star {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.title {
    background-image: url(./image/title.png);
    width: 760px;
    height: 98px;
    top: 50px;
    left: 50px;
}


.text-1 {
    background-image: url(./image/text-1.png);
    width: 330px;
    height: 135px;
    top: 266px;
    left: 50px;

}

.image {
    background-image: url(./image/image.png);
    width: 352px;
    height: 440px;
    right: 391px;
    bottom: 127px;
} 

.text-2 {
    background-image: url(./image/text-2.png);
    width: 342px;
    height: 359px;
    right: 38px;
    bottom: 210px;
}

.star {
    background-image: url(./image/star.png);
    width: 65px;
    height: 66px;
    right: 358px;
    bottom: 140px;
}