.slide {
    background-image: url('./image/bg-1.png');
}

.header__links {
    display: none;
}

.title,
.subtitle,
.star,
.head {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.title {
    background-image: url(./image/title.png);
    width: 883px;
    height: 147px;
    top: 50px;
    left: 50px;
}

.subtitle {
    background-image: url(./image/subtitle.png);
    width: 701px;
    height: 79px;
    left: 50px;
    top: 228px;
} 

.star-1 {
    background-image: url(./image/star-1.png);
    width: 400px;
    height: 415px;
    bottom: 101px;
    left: 0px;
}

.star-2 {
    background-image: url(./image/star-2.png);
    width: 415px;
    height: 415px;
    left: 259px;
    bottom: 21px;
}

.star-3 {
    background-image: url(./image/star-3.png);
    width: 414px;
    height: 265px;
    bottom: 212px;
    left: 554px;
}

.head {
    background-image: url(./image/head.png);
    width: 654px;
    height: 492px;
    right: 15px;
    bottom: 74px;
}